include ../mixins/header
include ../mixins/footer

doctype html
html
    head
        title Home
        link(rel="stylesheet", href="../css/main.css")
        link(href="https://fonts.googleapis.com/css?family=Kotta+One&display=swap" rel="stylesheet")
    body
       
       .super
            block content